body {
  padding-top: 30px;
}

.header{
	margin-top:2em;
	margin-bottom:0.5em;
}

.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fixed-height {
	background: url('../images/abstract.jpg') no-repeat center center scroll;
  height:500px;
}

.exp-section{
	margin-bottom:0.5em;
}

.fa{
  margin-right: 0.2em;
}

.greybg{
  background-color:#C5C5C5;
}

.lgreybg{
  background-color:#F1F1F1;
}

.darkgreybg{
  background-color:#2B2B2B;
}

h1, nav {
    font-family: 'Quicksand';
}

#contact,i{
  color:white;
}

i:hover{
  color:#5c4563;
}

.avatar{
  height:200px;
  width:200px;
}
@media (max-width: 700px) {
  .avatar{
    height:100px;
    width:100px;
  }
}

.greybg,.lgreybg,.darkgreybg{
  padding-bottom:40px;
}

.centerglyph, .centerimg, .centertext{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-justify-content: center; /*safari*/
  justify-content:center; /*chrome*/
  align-items:center;
}

@media (min-width: 500px) {
  .projwithmargin{
    margin-bottom:100px;
  }
}
@media (max-width: 500px) {
.projwithmargin{
    margin-bottom:40px;
  }
}