body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header{
	margin-top:2em;
	margin-bottom:0.5em;
}

.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fixed-height {
	background: url('../images/cat.jpg') no-repeat center center scroll;
    height:500px;
}

.exp-section{
	margin-bottom:0.5em;
}

.avatar{
	float:left;
	margin:0 2em;
}

.fa{
  margin-right: 0.2em;
}

.greybg{
  background-color:#C5C5C5;
}

.lgreybg{
  background-color:#F1F1F1;
}

.darkgreybg{
  background-color:#2B2B2B;
}
/*
.centered{
	  text-align: center;
}*/